# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
venv/

# Django
media/
staticfiles/
db.sqlite3

# IDE / OS
.idea/
.vscode/
*.log
*.coverage
.mypy_cache/
.pytest_cache/

# Misc
celerybeat-schedule
